<h1>reset password</h 1>

    <form action="/reset-password?token=<%= resetData.token %>" method="POST">
        <input type="hidden" name="user_id" value="<%= resetData.user_id %>">
        <input type="password" name="password" placeholder="Enter new password">
        <input type="password" name="confirm_password" placeholder="Confirm new password">
       <br><br>
       <input type="submit" value="Reset Password">

    </form>