.container{
   display: flex;
   justify-content:space-evenly;
   flex-wrap: wrap;

}

.optionSection input{

    position: relative;
    left: 90%;
    bottom: 70%;
}

.repIcon {
    
    color: #567a6c;
    font-size: 50px;
        

}


.optionSection{
    background-color: #b6b3b361;
    width: 300px;
    padding: 5px;
    margin: 10px 0px;

    
    
}
